* {
    margin: 0;
    padding: 0;
    border: none;
    background: none;
    box-sizing: border-box;
}

.Btn:hover {
    cursor: pointer;
    box-shadow: -0.5px 0.5px 5px gray;
}

.Btn2:hover {
    cursor: pointer;
    text-decoration-line: underline;
}


/*
========================
OUTER GRID LAYOUT
========================
*/

#darkener {
    position: absolute;
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 68px 100vw auto;
}

.dark {
    filter: brightness(40%)
}

#sideMenu {
    background-color: white;
    z-index: 1;
    width: 200px;
    height: 100%;
    position: absolute;
}

#topNav {
    background-color: rgb(224, 92, 39);
    grid-row-start: 1;
    grid-row-end: 2;
}

#productInfo {
    background-color: rgb(224, 92, 39, 0.4);
    grid-row-start: 3;
    grid-row-end: 4;
}


#imgDisplayBar {
    display: none;
}

.hidden {
    display: none !important;
}


/*
========================
STYLING OF THE CARTWINDOW
========================
*/

#cartWindow {
    position: absolute;
    background-color: white;
    top: 68px;
    z-index: 1;
    right: 0;
    margin: max(5px, 1%);
    width: 98%;
    height: 255px;
    border-radius: 15px;
    max-width: 480px;
    box-shadow: -8px 8px 20px 0px rgb(87, 86, 86);
}

#cartHeader {
    display: flex;
    height: 65px;
    align-items: center;
    border-bottom: 1px dotted gray;
    margin-right: 40px !important;
}

#cartHeader > h4 {
    margin-bottom: 10px;
    font-size: 17px;
}

#cartWindow > * {
    margin: 10px;
    margin-left: 40px;
    font-family: 'Kumbh Sans';
    font-weight: 400;
}

#items {
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    align-items: center;
    justify-content: space-between;
}

#cartContent {
    color: hsl(219, 9%, 50%);
    margin-left: 15px;
    align-content: center;
    font-size: 18px;
}

#bottomContent {
    height: 22px;
    margin-top: 8px;
}

#leftHalf {
    display: flex;
}

#leftHalf > img {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

#deleteIcon {
    margin-right: 25px;
    cursor: pointer;
}

#finalPrice {
    margin-left: 15px;
    font-weight: 700;
    color: black;
}

#checkOut {
    width: 85%;
    height: 55px;
    background-color: hsl(26, 100%, 55%);
    border-radius: 10px;
    margin-left: 7.5%;
    color: white;
    font-size: 16px;
    font-weight: 700;
    cursor: pointer;
}

#emptyCart {
    position: absolute;
    top: 50%;
    left: 25%;
    font-weight: 700;
}


/*
========================
STYLING OF THE HEADER
========================
*/

#topNav {
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#midNavBar {
    display: none;
}

#menuButton {
    margin-left: 22px;
    cursor: pointer;
}

logo {
    margin-left: 17px;
}

#leftSide {
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightSide {
    background-color: white;
}

#rightSide > * {
    margin-right: 22px;
}

#avatar > img:hover {
    border: 2px solid hsl(26, 100%, 55%);
    border-radius: 50%;
}

#avatar > img {
    height: 33px;
}

#cart {
    display: inline-block;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#itemCounter {
    display: flex;
    position: relative;
    background-color: hsl(26, 100%, 55%);
    color: white;
    width: 18px;
    height: 12px;
    border-radius: 25px;
    top: 10px;
    left: 10px;
    justify-content: center;
    align-items: center;
    font-size: 11px;
}



/*
========================
SIDEMENU STYLE
========================
*/

#sideMenu {
    display: flex;
    flex-direction: column;
    align-items: start;
}

#sideMenu > button {
    cursor: pointer;
    margin-left: 30px;
    margin-top: 15px;
    font-family: 'Kumbh Sans';
    font-weight: 700;
}

#sideButton {
    margin-bottom: 25px;
    margin-top: 25px !important;
}
/*
========================
IMAGE DISPLAY STYLE
========================
*/
#imgs {
    display: flex;
    flex-direction: column;
    max-width: 100vw;
}

#imgGallery {
    display: flex;
    background-color: white;
    overflow-x: scroll;
    scrollbar-width: none;
    scroll-behavior: smooth;
    width: 100%;
}

#imgGallery::-webkit-scrollbar {
    display: none;
}

#imgGallery > button {
    position: absolute;
    align-self: center;
    font-size: 2rem;
    cursor: pointer;
}

#leftKey {
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    margin-left: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#leftKey > img {
    height: 15px;
    margin-right: 3.5px;
}

#rightKey {
    right: 15px;
    margin-right: 10px;
    height: 40px;
    width: 40px;
    background-color: white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#rightKey > img {
    height: 15px;
    margin-left: 3.5px;
}

#imgGallery > img {
    min-width: 100%;
    min-height: 100%;
}


/*
========================
STYLING OF PRODUCTINFO
========================
*/

#productInfo {
    background-color: white;
    font-family: 'Kumbh Sans';
    font-size: 16px;
}

#productInfo > * {
    margin-bottom: 20PX;
    margin-left: 7.5%;
    max-width: 85%;
}

#subHeader {
    font-size: 12px;
    margin: 7.5%;
    color:hsl(26, 100%, 55%);
    letter-spacing: 1.5px;
    font-weight: 700;
    margin-bottom: 10px !important;
    margin-top: 25px;
}

#productName {
    font-size: 2.5rem;
}

#description {
    width: 85%;
    color: hsl(219, 9%, 50%);
    line-height: 1.6rem;
}

#priceInfo {
    display: flex;
    align-items: center;
    width: 85%;
}

#currentPrice {
    display: flex;
    align-items: center;
}

#price {
    display: inline;
    font-weight: 700;
    font-size: 1.8rem;
    margin-top: 5px;
    margin-bottom: 6px;
}

#sale {
    display: inline-flex;
    color: hsl(26, 100%, 55%);
    margin-left: 12px;
    width: 50px;
    height: 26px;
    background-color: hsl(25, 100%, 94%);
    border-radius: 5px;
    justify-content: center;
    align-items: center;
    font-weight: 700;
}

#oldPrice {
    margin-left: auto;
    text-decoration-line: line-through;
    color: hsl(219, 9%, 69%);
    font-weight: 700;
}

#counterBar {
    display: flex;
    background-color: hsl(223, 64%, 96%);
    height: 55px;
    width: 100%;
    border-radius: 10px;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 18px;
}

#plus {
    width: 20px;
    height: 20px;
    margin-right: 25px;
}

#counterBar > button {
    cursor: pointer;
}

#minus {
    width: 20px;
    height: 20px;
    margin-left: 25px;
}

#minus > img {
    margin-bottom: 3px;
}

#counter {
    font-weight: 700;
}

#addToCart {
    display: flex;
    width: 100%;
    height: 55px;
    background-color: hsl(26, 100%, 55%);
    color: white;
    border-radius: 10px;
    font-weight: 700;
    font-family: 'Kumbh Sans';
    font-size: 15px;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#whiteCart {
    height: 16px;
    margin-right: 10px;
}

#productSelector {
    display: flex;
    flex-direction: column;
    width: 85%;
    height: 180px;
}


/*
========================
RESPONSIVE CODE
========================
*/

@media (min-width: 1000px) {

    #darkener {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 68px 545px 1fr;
    }

    #topNav {
        width: 90%;
        max-width: 1000px;
        justify-self: center;
        justify-content: space-between;
        grid-column-start: 1;
        grid-column-end: 3;
        border-bottom: 0.5px dotted gray;
        margin-top: 15px;
        height: 75px;
    }

    logo {
        margin-left: 0
    }

    #midNavBar {
        display: inline-flex;
        align-self: center;
        margin-left: 50px;
        width: 400px;
        justify-content: space-between;
    }

    #midNavBar > button {
        font-family: 'Kumbh Sans';
        font-size: 15px;
        color: hsl(219, 9%, 50%);
    }

    .navButton:hover{
        color: black !important;
        text-decoration-line: underline;
        cursor: pointer;
    }

    #avatar {
        margin-right: 0;
    }

    #menuButton {
        display: none;
    }

    #imgs {
        margin: 45px;
        margin-top: 90px;
        background-color: white;
        grid-column-start: 1;
        grid-column-end: 2;
        margin-left: 100px;
    }

    #imgGallery {
        border-radius: 25px;
        max-width: 445px;
        min-height: 445px;
    }

    #imgGallery > img {
        border: 1px solid transparent;
    }

    #imgGallery > button {
        display:none;
    }

    #imgDisplayBar {
        display: flex;
        align-self: start;
        width: 100%;
        margin-top: 30px;
        justify-content: space-between;
    }

    ul > li {
        width: 90px;
        height: 90px;
        align-self: end;
        list-style-type: none;
        cursor: pointer;
    }

    .thumbNails {
        width: 100%;
        border-radius: 10px;
    }

    #productInfo {
        margin: 30px;
        margin-top: 155px;
        grid-column-start: 2;
        grid-column-end: 3;
        grid-row-start: 2;
        grid-row-end: 3;
        max-width: 500px;
    }
    
    #priceInfo {
        flex-direction: column;
        align-items: start;
    }

    #oldPrice {
        margin-left: 0;
    }

    #counterBar {
        width: 30%;
        display: inline-flex;
        margin-bottom: 0px;
        margin-left: 2.5%;
    }

    #productSelector{
        flex-direction: row;
        min-width: 100%;
        margin-left: 20px;
        justify-content: space-between;
        margin-top: 30px;
    }

    #addToCart{
        width: 55%;
        margin-right: 10%;
    }


}


